#!/bin/sh
mpd &
runmpdnotification &
xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources &
xcompmgr &
autorandr --change &
sxhkd &
dunst &
dwmbar &
unclutter &
setwallpaper &
setxkbmap pl &
qutebrowser &
st -n rtorrent -e rtorrent &
xhost +local:lukasz &
